/.idea/
/.gradle/
/gradle/
/Topics/
/gradlew.bat
/course-remote-info.yaml
/gradlew
/course-info.yaml
/build.gradle
/settings.gradle
/Battleship/lesson-info.yaml
/Battleship/The end of the war/
/Battleship/Take position_/
/Battleship/Friend or foe/
/Battleship/The first shot/
/Battleship/Fog of war/
/Battleship/task/test/
/Battleship/task/build/
/Battleship/task/out/
